//$green: #4af6cd; 

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  "GTWalsheimPro", sans-serif;
$titleFontFamily: "Botanica", sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$maxwidth: 1920px;
$minwidth: 320px;
$mw: 1160;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$linkColor: #325364;
$textColor: #37383a;
$titleColor: #000001;