// ======= GALLERY-DETAILS ==================================================
.galleryDetails-m {
	margin-bottom: -2px;
	&__body {
		display: flex;

		@media (max-width: 1024px ) {
			flex-direction: column; 
		}
	}
	&__column {
		&_1 {
			width: 509 / 1440 * 100%;
			display: flex;
			flex-direction: column; 
			transition: all .4s ease; 
			align-items: flex-end;
			position: relative;

			@media (max-width: 1024px ) {
				order: 1;
			}
		}
		&_2 {
			width: 931 / 1440 * 100%;
		}

		@media (max-width: 1024px ) {
			width: 100%;
		}
	}
	&__mask {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 463px;
		width: 100%;
		height: 100%;
	}
	&__info-box {
		padding: 106px 65px 30px 15px;
		max-width: 463px;
		display: inline-block;
		//transition: all .3s ease;

		@media (max-width: 1200px ) {
			padding: 106px 15px 30px 15px;
		}

		@media (max-width: 1024px ) {
			padding: 106px 15px 30px 15px;
			max-width: none;
			width: 100%;
		}

		@media (max-width: $md3+px ) {
			padding-top: 60px;
		}

		@media (max-width: $md4+px ) {
			padding-top: 35px;
		}
	}
	&__slider {
		//min-height: 832px;
		position: relative;

		& .slick-track {
			display: block;
		}

		& .slick-list {
			height: 100%;
		}
		& .slick-arrow {
			position: absolute;
			z-index: 2;
			right: 0;
			bottom: 2px;
			width: 62px;
			height: 84px;
			background-color: $linkColor;
			transition: all .2s ease;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			@media (min-width: 992px ) {
				&:hover {
					background-color: #faf6f0;
				}

				&:hover {
					& .galleryDetails-m__arrows {
						fill: #e2d5c5;
					}
				}
			}

			& svg {
				height: 100%;
			}
		}

		& .slick-next {
			right: 62px;

			& span {
				transform: rotate(90deg);
			}
		}
		& .slick-prev {
			& span {
				transform: rotate(90deg);
			}
		}
	}
	&__item {
		//min-height: 832px;
		height: 100%;
		padding-bottom: 2px;
		transition: all .4s ease;
		& > a {
			display: block;
			height: 100%;
			width: 100%;
			position: relative;
			min-height: 832px;
			height: 100%;

			@media (max-width: $md2+px ) {
				min-height: 750px;
			}

			@media (max-width: $md3+px ) {
				min-height: 650px;
			}

			@media (max-width: 575px ) {
				min-height: 550px;
			}

			@media (max-width: $md4+px ) {
				min-height: 450px;
			}

			& img {
				display: block;
			}
		}
	}

	&__arrow {
		position: fixed;
		z-index: 2;
		right: 0;
		bottom: 0;
		width: 62px;
		height: 84px;
		background-color: $linkColor;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		@media (min-width: 992px ) {
			&:hover {
				transition: all .2s ease;
				background-color: #faf6f0;

			}

			&:hover {
				& .galleryDetails-m__arrows {
					transition: all .2s ease;
					fill: #e2d5c5;
				}
			}
		}

		& svg {
			height: 100%;
		}
	}

	&__prev {
		& span {
			transform: rotate(90deg);
		}
	}
	&__next {
		right: 62px;

		& span {
			transform: rotate(90deg);
		}
	}
}
.info-galleryDetails-m {


	&__list {
		margin-bottom: 70px;
	}
	&__item {
		padding: 8px 0px 0px;
		margin-bottom: 7px;			

		&:not(:last-child) {
			border-bottom: 1px solid #ebebeb;
		}
	}
	&__title {
		color: #b9b8b9;
		font-size: 16px;
		font-weight: 300;
		line-height: calc(20 / 16);
		text-transform: uppercase;
	}
	&__name {
		color: $textColor;
		font-size: 20px;
		font-weight: 400;
		line-height: calc(30 / 20);
		margin-bottom: 10px;
	}
	&__testimonial {
		margin-top: 12px;
		&.testimonial {
			padding: 0;
			box-shadow: none;
			& .testimonial__text {

			}

			& .testimonial__author {
				color: $textColor;
				font-family: $mainFontFamily;
				font-size: 20px;
				font-weight: 500;
				line-height: calc(30 / 20);
			} 
		}	
	}
}

.social-galleryDetails-m {
	&__label {
		margin-bottom: 7px;
		color: #b9b8b9;
		font-size: 16px;
		font-weight: 700;
		line-height: calc(30 / 16);
		text-transform: uppercase;
		padding-left: 4px;
	}
	&__list {
		display: flex;
	}
	&__item {
		margin-right: 5px;
	}
	&__link {
		height: 41px;
		width: 41px;
		border-radius: 50%;
		display: flex;
		transition: all .2s ease;
		justify-content: center;
		align-items: center;

		& > svg {
			height: 100%;
			width: 100%;
		}

		@media (min-width: 992px ) {
			&:hover {
				& > svg {

					& .social-bg {
						fill: $linkColor;
					}
				}
			}
		}
	}
}

// ======= AND GALLERY-DETAILS ==================================================